@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-primary: #f9bb12;
  --color-secondary: #fcd79b;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .hover\:bg-primary:hover {
    background-color: var(--color-primary);
  }
}

/* Ensure the body, html, and #app take full screen */
html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffff !important;
  color: oklch(0.373 0.034 259.733) !important;
  display: flex;
  flex-direction: column;
  font-family: "Chillax", sans-serif;
}

.primary-hover {
  background-color: #f9bb12;
}

.primary-hover:hover {
  background-color: #e6a510; /* Slightly darker shade */
  box-shadow: 0 0 20px rgba(249, 187, 18, 0.6);
}

.btn-hover {
  background-color: #f9bb12; /* Primary color */
  color: white;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  transition: all 0.2s ease-in-out 0.1s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
  display: block;
  width: 100%;
  padding: 5px;
  text-align: left;
  border-radius: 4px;
  transition: background 0.2s;
}

.btn-hover:hover {
  background-color: #e6a510; /* Slightly darker shade */
  box-shadow: 0 0 20px rgba(249, 187, 18, 0.6);
}

.btn-hover:active {
  transform: scale(0.95);
}

/* Ensure #app has full width */
#app {
  width: 100vw !important;
  height: 100vh !important;
  text-align: center;
}

@media (max-width: 320px) {
  body {
    min-width: 320px;
    overflow-x: hidden; /* Prevents horizontal scrolling */
  }
}

@font-face {
  font-family: "Chillax";
  src: url("../public/assets/fonts/Chillax-Variable.woff2") format("woff2"),
    url("../public/assets/fonts/Chillax-Variable.woff") format("woff");
  font-weight: 100 900;
  font-style: swap;
}
html.dark,
body.dark {
  background-color: white !important;
  color: black !important;
}
